<html>
    {include file="common/header"}
        <body>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h1>Shop Logo</h1>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-md-offset-2 hidden-sm hidden-xs">
                        <div>
                            <img src="/uploads/img/ad_banner/sign_in_ad.jpg" class="img-responsive center-block"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <form class="form-horizontal" role="form">
                            <input type="hidden" name="__token__" value="{$Request.token}">
                            <div class="form-group">
                                <label for="signInField" class="sr-only">用户名/邮箱/手机号</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="signInField" id="signInField" placeholder="用户名/邮箱/手机号">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">密码</label>
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" name="pwd" id="password" placeholder="密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-8 col-sm-8">
                                    <div class="checkbox">
                                        <label class="text-info">
                                            <input name="rememberMe" type="checkbox">请记住我
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <p class="form-control-static text-right">
                                        <a href="{:url('frontend/User/forgetPwd')}">忘记密码</a>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-sm btn-block">登录</button>
                               </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-xs-6">
                                    <p class="form-control-static">第三方登录功能</p>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <div class="btn-group btn-group-justified">
                                        <a href="{:url('frontend/User/signUp')}" class="btn btn-primary">免费注册</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </body>
    {include file="common/footer"}
</html>